*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body{
    height: fit-content;
}

#body_div{
    position: absolute;
    width: 100%;
    min-width: fit-content;
    height: fit-content;
    min-height: 100%;
    display: grid;
    justify-items: center;
    background-color: #242424;
}

#portfolio{
    background-color: #333;
    margin-top: 50px;
    width: 45%;
    min-width: fit-content;
    height: fit-content;
    position: relative;
    justify-items: center;
    display: grid;
    align-items: center;
    grid-template-columns: auto  fit-content(8ch);
}

#portfolio_title{
    color: white;
    grid-column: 1;
    grid-row: 1;
    font-size: 40px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255,254,252,0);
    margin-top: 15px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

#skill_section{
    position: relative;
    min-width: 90%;
    min-height: 100px;
    height: fit-content;
    width: 100px;
    background-color: #00000029;
    grid-column: 1;
    grid-row: 3;
}

#edit_title_div{
    grid-column: 1;
    grid-row: 1;
}

#addSectionButtonDiv{
    width: fit-content;
    height: fit-content;
}
#addSectionButton{
    min-width: 40px;
    min-height: fit-content;
    background-color: transparent;
    font-size: 30px;
    color: white;
}

#showHide{
    grid-column: 2;
    grid-row: 1;
    height: fit-content;
    min-height: 30px;
    width: fit-content;
    min-width: 90px;
    position: absolute;
    right: 0;
    top: 0;
}

.addItemButton{
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: fit-content;
    margin-left: 94%;
    margin-top: 10px;

}

.newSector{
    background-color: #00000036;
    width: 100%;
    min-height: 100px;
    grid-row: 2;
    grid-column: 1;
    display: grid;
}

.newSectorDiv{
    min-width: fit-content;
    min-height: fit-content;
    display: grid;
    width: 85%;
    height: fit-content;
    align-items: center;
    grid-template-columns: 1fr fit-content(8ch);
}

.newSectorTitle{
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 36px;
    color: white;
}

.newSectorTitleDiv{
    width: 100%;
    height: fit-content;
    display: grid;
    justify-items: center;
}

.emptySectorSizeLabel{
    font-size: 15px;
    grid-row: 1;
    grid-column: 2;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}

.emptySectorSizeLabelValue{
    grid-row: 2;
    grid-column: 2;
    color: white;
    border-style: solid;
    border-color: transparent;
    height: 100%;
    align-content: center;
    border-width: 2px;
    width: 100%;
    text-align: center;
}

.emptySector{
    min-width: 85%;
    min-height: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    border-width: 1px;
    border-color: aliceblue;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-template-columns: 1fr 70px;
    grid-template-rows: 1fr 1fr;
}

.removeButton{
    font-size: 15px;
    min-width: 35px;
    height: fit-content;
    text-align: center;
}

.removeButtonDiv{
    width: fit-content;
    height: fit-content;
    min-height: fit-content;
    grid-column: 2;

}

.editableBoxDiv{
    width: fit-content;
    height: fit-content;
}

.editableBox{
    background-color: transparent;
    color: #b0b0b0;
    box-sizing: border-box;
    border: solid;
    border-width: 2px;
    border-color: #464646;
    caret-color: #e3e3e3;
    outline: none;
    text-align: center;
}

@media screen and (max-width: 2000px){
    #portfolio{
        width: 40%;
    }
}

@media screen and (max-width: 1800px){
    #portfolio{
        width: 50%;
    }
}

@media screen and (max-width: 1400px){
    #portfolio{
        width: 60%;
    }
}
@media screen and (max-width: 1000px){
    #portfolio{
        width: 60%;
    }
}

@media screen and (max-width: 1200px){
    #portfolio{
        width: 70%;
    }
}
@media screen and (max-width: 900px){
    #portfolio{
        width: 85%
    }
}
@media screen and (max-width: 650px){
    #portfolio{
        width: 90%;
    }
}
@media screen and (max-width: 500px){
    #portfolio{
        width: 100%;
    }
}

#item_box{
    width: fit-content;
    height: fit-content;
    min-height: 600px;
    min-width: 500px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.itemBox{
    background-color: white;
    border-style: solid;
    border-width: 10px;
    display: grid;
}

.skill_entry_div{
    height: fit-content;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-style: solid;
}

#skill_box{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
