*{
    padding: 0;
    margin: 0;
}
#body {
    background-image: linear-gradient(0deg, rgba(40,40,40,1) 6%, rgba(69,69,69,1) 42%);
    display: grid;
    justify-items: center;
    position: static;
    height: 100vh;
    align-items: center;
}
#body_div {
    position: relative;
    display: inline-grid;
    width: fit-content;
    height: fit-content;
    gap: 70px;
    justify-items: center;
}

#portfolio_list{
    border-style: solid;
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: fit-content(8ch) fit-content(8ch) fit-content(8ch) fit-content(8ch) fit-content(8ch) fit-content(8ch);
}

.portfolio_edit_entry_div{
    height: fit-content;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-style: solid;
    min-height: 100px;
    min-width: 100px;
    background-color: #242424;
}
