*{
    padding: 0;
    margin: 0;
}


@keyframes main_title {
    from {top:0}
    to{top:280px}
    to{top:245px}
}

/* Header Stuff */

#header{
    background-color: #202020;
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    display: flex;
}

#home_button{
    background-color: transparent;
    color: white;
    height: 100%;
    width: fit-content;
    font-size: 40px;
    border: none;
    padding-left: 7px;
    padding-right: 7px;
}

#home_button:hover{
    background-color: rgba(255, 255, 255, 0.11);
}

#home_button:active{
    background-color: rgba(191, 191, 191, 0.11);
}


#about_button{
    background-color: transparent;
    color: white;
    border: none;
    width: fit-content;

    font-size: 20px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    padding-right: 15px;
    padding-left: 15px;
}

#about_button:hover{
    background-color: rgba(255, 255, 255, 0.11);
    text-decoration: underline;
}


/*Body Stuff*/

#body {
    background-image: linear-gradient(0deg, rgba(40,40,40,1) 6%, rgba(69,69,69,1) 42%);
    display: grid;
    justify-items: center;
    position: static;
    height: 100vh;
    align-items: center;
}
#body_div {
    position: relative;
    display: inline-grid;
    width: fit-content;
    height: fit-content;
    gap: 70px;
    justify-items: center;
}


#main_title_div {
    text-align: center;
    background-color: #0909091f;
    position: static;
    color: #eee;
    font-size: 53px;
    width: fit-content;
    animation-name: main_title;
    animation-duration: 1.5s;
    height: fit-content;
    padding-right: 25px;
    padding-left: 25px;
}

#buttons {
    width: fit-content;
    height: fit-content;
    position: static;
    gap: 40px;
    display: flex;
}

.button{
    width: 235px;
    height: 125px;
    position: relative;
    margin-left: auto;
    background: #2b2b2b;
    color: white;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #4d4d4d;
    transition: 0.3s;
}

.button:hover{
    background: #373737;
    border-color: #252525;
    width: 250px;
    height: 135px;
    transition: 0.3s;
}
