*{
    margin: 0;
    padding: 0;
}

body{
    height: fit-content;
}

#body_div{
    position: absolute;
    width: 100%;
    min-width: fit-content;
    height: fit-content;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #242424;
    gap: 50px;
}

#create_project_div{
    background-color: #0000001f;
    margin-left: 100px;
    display: grid;
    justify-items: center;
    grid-template-rows: fit-content(8ch) 1fr;
    gap: 85px;
}

#my_project_div{
    background-color: #0000001f;
    width: auto;
    display: grid;
    justify-items: center;
    margin-right: 100px;
    grid-template-rows: fit-content(8ch) auto;
    gap: 65px;
}

#my_project_list{
    background-color: #ffffff12;
    list-style-position: inside;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 215px;
}

.project_entry{
    width: auto;
    background-color: #00000075;
    max-width: 200px;
    height: 100%;
    min-height: fit-content;
    border-color: #2d2d2d;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding-right: 15px;
    text-align: center;
    align-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.project_entry_div{
    height: 100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.project_entry_delete_button{
    margin-left: auto;
}

#project_list_div{
    width: 100%;
    height: 100%;
}

#new_project_title{
    width: 100%;
    color: white;
    font-size: 25px;
}

#my_project_title{
    width: 100%;
    color: white;
    font-size: 25px;
}

.project_title_div{
    min-height: fit-content;
    height: 60px;
    background-color:#ffffff24 ;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.new_project_fields_div{
    display: grid;
    width: fit-content;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
}

#new_project_form{
    display: grid;
    grid-template-rows: fit-content(8ch) fit-content(8ch) fit-content(8ch);
}

#form_div{
    display: grid;
    justify-items: center;
    border-style: solid;
    width: 100%;
    height: fit-content;
    border-color: aliceblue;

}

#project_description_div{
    margin-top: 50px;
}

.project_field_title{
    color: white;
    background-color: #fbfbfb26;
    font-size: 45px;
    height: fit-content;
}

.project_field_input{
    min-width: 400px;
    max-height: 40px;
}

.create_project_button{
    width: 200px;
    height: 50px;
    font-size: 25px;
    margin-top: 30px;
}

#create_project_button_div{
    margin-bottom: 50px;
}

.action_project_button_div{
    display: grid;
    justify-items: center;
}

#project_name_div{
    margin-top: 50px;
}

#edit_project_form{
    display: grid;
    grid-template-rows: fit-content(8ch) fit-content(8ch) fit-content(8ch);
}

#edit_project_description_div{
    margin-top: 50px;
}

#edit_project_div{
    display: grid;
    justify-items: center;
    border-style: solid;
    min-height: 500px;
    width: 100%;
    height: fit-content;
    border-color: aliceblue;
}

#edit_name_div{
    margin-top: 50px;
}

#project_organization_div {
    margin-top: 50px;
}
#edit_project_button_div{
    margin-bottom: 50px;
}

#edit_project_organization_div{
    margin-top: 50px;
}